@model WebAvanzadaIICuatrimestre.BLL.Dtos.ClienteDto

<div class="modal fade" id="modalEditarCliente" tabindex="-1" aria-labelledby="modalEditarClienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarClienteLabel">Editar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formEditarCliente" asp-action="Editar" asp-controller="Cliente" method="post" class="row g-3">
                    @Html.AntiForgeryToken()

                    <input type="hidden" id="IdEditar" name="Id" />

                    <div class="col-md-6">
                        <label for="IdentificacionEditar" class="form-label">Identificación</label>
                        <input type="text" id="IdentificacionEditar" name="Identificacion" class="form-control" required />
                    </div>

                    <div class="col-md-6">
                        <label for="NombreEditar" class="form-label">Nombre</label>
                        <input type="text" id="NombreEditar" name="Nombre" class="form-control" required />
                    </div>

                    <div class="col-md-6">
                        <label for="Apellido1Editar" class="form-label">Apellido 1</label>
                        <input type="text" id="Apellido1Editar" name="Apellido1" class="form-control" required />
                    </div>

                    <div class="col-md-6">
                        <label for="Apellido2Editar" class="form-label">Apellido 2</label>
                        <input type="text" id="Apellido2Editar" name="Apellido2" class="form-control" />
                    </div>

                    <div class="col-md-12">
                        <label for="CorreoEditar" class="form-label">Correo</label>
                        <input type="email" id="CorreoEditar" name="Correo" class="form-control" />
                    </div>

                    <div class="col-md-12">
                        <label class="form-label">Números de Teléfono</label>
                        <div class="input-group mb-2">
                            <input type="text" id="nuevoTelefono" class="form-control" placeholder="Ingrese número de teléfono" />
                            <button type="button" class="btn btn-success" id="btnAgregarTelefono">Agregar</button>
                        </div>
                        <div id="listaTelefonos" class="list-group"></div>
                        <div id="telefonosEditarHidden"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnEditarCliente">Editar Cliente</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
